* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #333333; 
    
}

.logo{
    width: 300px;
    display: block;
    margin: 77px auto;
}

main {
    width: 580px;
    background-color: azure;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px ;
}

label {
    color: #777777;
}

select {
    background: #ffff;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

input {
    background: #ffff;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding: 10px;
    font-size: 16px;
    color: #555555;
}

button {
    background: #037bdd;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #037bdd;
    border-radius: 20px;
    margin-top: 30px;

    }

.currency-flag {
    display: block;
    margin: 10px auto;
}

.coin {
    display: block;
    margin: 10px auto;
}

p {
    text-align: center;
    color: #777777;
}

h4 {
    text-align: center;
}

.Arrow {
    display: block;
    margin: 5px auto;
}
