* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background:url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2cwcDdla3RneDQ2ZmR5aGlxa2J3NW51eDJzdWM0NTF2bDJtaG03diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rgzOwma0qMbM3x7Fqi/giphy.gif);
    background-size: 100vw 100vh ;
}

.image-coin {
    width: 200px;
    display: block;
    margin: 20px auto;
}

main {
    width: 580px;
    background-color: azure;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px ;
}

label {
    color: #777777;
}

select {
    background: #ffff;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

input {
    background: #ffff;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding: 10px;
    font-size: 16px;
    color: #555555;
}

button {
    background: #ffd900;
    color: rgb(128, 48, 48);
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #ffd900;
    border-radius: 20px;
    margin-top: 30px;

    }

.currency-flag {
    display: block;
    margin: 10px auto;
}

.coin {
    display: block;
    margin: 10px auto;
}

p {
    text-align: center;
    color: #777777;
}

h4 {
    text-align: center;
}

.Arrow {
    display: block;
    margin: 5px auto;
}
